body {
  margin-top:64px;
}

.hero {
  /*margin:45px 0;*/
  text-align:center;
}

.hero h1 {
  font-family:'Quicksand';
}

.hero h2 {
  font-size:20px;
  font-weight:200;
  margin:30px 0;
}

.hero .buttons a {
  margin-right:15px;
}

.feature-grid h3 {
  margin:30px 0;
}

.feature-grid .glyphicon {
  font-size:40px;
  color:#1485ee;
}

.feature-grid .item {
  text-align:center;
}

.feature-grid .item p {
  font-size:14px;
}

.feature-grid .item h4 {
  font-size:18px;
  font-weight:bold;
}

.navbar-brand {
  font-family:'Quicksand';
}

